@import './base.css';

#app {
  max-width: 1580px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.content {
  text-align: center;
}

.page-title {
  font-size: 25px;
  margin: 50px 0 65px 0;
}

.page-text {
  line-height: 1.6;
  font-size: 22px;
  font-weight: 300;
}